html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: x mandatory; /* Scroll en x */
  overflow-x: scroll;
}

section {
  height: 100vh;          /* Cada sección ocupa toda la pantalla */
  scroll-snap-align: start; /* Se alinea al inicio de la sección */
}
